/* regole generali */

[class*="col-"] {
    min-height: 80px;
    background-color: rgb(0, 108, 250);
    border: 2px solid white;
}

section {
    margin: 20px 0;
}


/* regole contenuto col */
.flex-container {
    display: flex;
}

.content {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-col {
    padding: 10px;
}

.green {
    background-color: rgb(0, 224, 101);
}
